.grid {
   margin-top: 0.5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
   row-gap: 1rem;
   column-gap: calc(auto + 1rem);
}
.section {
   display: flex;
   flex-direction: column;
}
.section span {
   color: var(--text-secundary-color);
}
.title {
   font-weight: 500;
   font-size: var(--text-large);
}
