.reviewsContainer {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 0.7rem;
}
.review {
   width: 100%;
   padding: 0.8rem 0.8rem 0.8rem 0.2rem;
   border-top: 2px solid var(--light-bg-color);
}
.review:nth-last-child(1) {
   border-bottom: 2px solid var(--light-bg-color);
}
.reviewAutorInforsContainer {
   display: flex;
   flex-direction: row;
   gap: 8px;
}
.reviewAutorInfors {
   display: flex;
   flex-direction: column;
}
.reviewAutorInfors h4 {
   display: flex;
   align-items: center;
   vertical-align: middle;
   gap: 6px;
}
.reviewAutorImg {
   width: 50px;
   height: 50px;
   border-radius: 50px;
   display: flex;
   position: relative;
}
.reviewAutorInforsSecundary {
   font-size: var(--text-small);
   color: var(--text-secundary-color);
}
.reviewAutorVote {
   padding: 0.09rem 0.2rem;
   border-radius: 8px;
   background: var(--main-color);
   display: flex;
   display: flex;
   align-items: center;
   vertical-align: middle;
   color: var(--text-color);
}
.reviewAutorVote svg {
   margin-right: 3px;
}
.reviewDateInfor {
   display: flex;
}
.reviewContent {
   margin-top: 8px;
   padding-right: 1rem;
   vertical-align: middle;
}
.reviewContentText {
   color: var(--text-secundary-color);
}
.reviewShowBtn {
   text-decoration: underline;
   font-weight: 500;
   margin-left: 0.5rem;
   user-select: none;
}
.reviewShowBtn:hover {
   color: var(--text-secundary-color);
}
