.videosContainer {
   margin-top: 1rem;
   position: relative;
}
.heading {
   display: flex;
   justify-content: space-between;
   vertical-align: middle;
}
.scrollButtons {
   display: flex;
}
.scrollButtons svg {
   color: var(--text-color);
   cursor: pointer;
   padding: 0.2rem 0.4rem;
   border-radius: 4px;
   transition: 0.3s ease;
}
.scrollButtons svg:hover {
   background-color: var(--light-bg-color);
}
.title {
   font-weight: 500;
   font-size: var(--text-large);
}
.videosGrid {
   display: flex;
   gap: 10px;
   overflow-x: scroll;
   overflow-y: auto;
   white-space: nowrap;
   padding: 0.5rem 0 1.1rem 0;
}
.video {
   max-width: 220px;
   max-height: 140px;
}
.imgBox {
   width: 225px;
   height: 125px;
   overflow: hidden;
   object-fit: cover;
   position: relative;
   border-radius: 8px;
   border: 2px solid var(--light-bg-color);
}
.imgBox img {
   width: 100%;
   position: absolute;
   transform: translateY(-22px);
}
.videoTitle {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
/* .shadowImg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(90deg, rgba(34, 31, 31, 1), transparent);
} 
.shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 105%;
   height: 100%;
   background-image: linear-gradient(
      90deg,
      transparent 70%,
      var(--bg-color) 100%
   );
   pointer-events: none;
}*/
.playIcon {
   display: flex;
   height: 45px;
   width: 45px;
   border-radius: 30px;
   align-items: center;
   vertical-align: middle;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.73);
   position: absolute;
   bottom: 8px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 5;
   transition: 0.3s ease;
   cursor: pointer;
}
.playIcon:is(:hover, :focus) {
   background-color: var(--main-color);
}

@media (max-width: 768px) {
  .scrollButtons {
    display: none;
  }
}
