.inforsContainer {
   margin-top: 1.3rem;
}

.grid {
   margin-top: 0.6rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
   row-gap: 1rem;
   column-gap: calc(auto + 1rem);
}

.section {
   display: flex;
   flex-direction: column;
}

.section span {
   color: var(--text-secundary-color);
}

.title {
   font-weight: 500;
   font-size: var(--text-large);
}

.flexItems {
   column-count: 2;
   column-width: 1%;
}

.flexItems p {
   margin-right: 3px;
}

@media (max-width: 768px) {
   .grid:nth-last-child(1) {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
      row-gap: none;
      column-gap: none;
   }
}