.searchBar {
   padding: 0.4rem 0.6rem;
   border: 2px solid var(--light-bg-color);
   justify-content: space-between;
   /* max-width: 200px; */
   display: flex;
   align-items: center;
   vertical-align: middle;
   border-radius: 15px;
   width: 300px;
}

.searchBar svg {
   margin: 0 4px;
   transition: all 0.2s ease;
   cursor: pointer;
}

.searchBar svg:hover {
   color: var(--main-color);
}

.searchBarInput {
   border: none;
   background: none;
   outline: none;
   width: 100%;
}

.searchBarInput::placeholder {
   color: #7a7a7a;
}

.closeIcon {
   display: none;
}

@media (max-width: 768px) {
   .closeIcon {
      display: flex;
   }
}