.SideBarContainer {
   position: fixed;
   top: 60px;
   left: 0;
   width: 14rem;
   height: 100vh;
   background-color: var(--light-bg-color);
   padding: 1.2rem;
   font-weight: 500;
   z-index: 5;
}
.textGuia {
   font-size: var(--text-small);
   color: #7a7a7a;
   margin: 2px 0;
}
.navItems,
.configItems {
   display: flex;
   flex-direction: column;
}
.navItem,
.configItem {
   margin-bottom: 0.8rem;
}
.navLink,
.configLink {
   font-size: var(--text-large);
   display: flex;
   align-items: center;
   vertical-align: middle;
   transition: 0.2s ease;
}
.navLink:hover,
.configLink:hover {
   color: var(--main-color);
}
.navLink svg,
.configLink svg {
   margin-right: 5px;
}
.genreItems,
.languageItems {
   margin: 3px 0 0 1.5rem;
   max-height: 18rem;
   height: 0;
   overflow-y: scroll;
   transition: 0.3s ease;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.genreMenuIcon,
.languageMenuIcon {
   margin-left: 7px;
   transition: 0.2s ease;
   transform: rotate(0deg);
}
.genreMenuOpened ~ .genreItems,
.languageMenuOpened ~ .languageItems {
   height: 18rem;
}
.genreMenuIcon.opened,
.languageMenuIcon.opened {
   transform: rotate(180deg);
}
.selectLanguageContainer {
   margin-top: 0.2rem;
}
.languageFlagIcon {
   width: 25px;
   border-radius: 2px;
   margin-right: 3px;
}
.languageItem {
   display: flex;
   align-items: center;
   vertical-align: middle;
}

/*Responsives styles*/
@media (min-width: 960px) and (max-width: 1024px) {
   .SideBarContainer {
      width: 12rem;
   }
}
